.footer {
    position: fixed;
    /* Sayfanın altına sabitlemek için */
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    color: #666;
}